{% load static %}
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}">

    </head>
    <main>
        <header>

                <div id="nav_title">
                    <img id="self"src="{% static 'home/self.jpg' %}" height="90" width="140">
                    <h1 id="name">Nathaniel Thomas Rodgers</h1>
                    <h2 id="dev">Web Developer <br/>Portland, Oregon</h2>
                    <a href="https://github.com/rodgnathaniel" target="_blank" id="git"><img src="{% static 'home/git.png' %}" width="45" height="45"></a>
                    <a href="https://www.linkedin.com/in/nathaniel-rodgers-109104170/" target="_blank" id="in"><img src="{% static 'home/in.png' %}" width="45" height="45"></a>
                    <div id="slideshow">
                        <img name="slide" width="210" height="110">
                    </div>
                </div>
        

        </header>  
        <div id="nav_bg">
            <div id="nav_btn">
                <button id="skills">Skills</button>
                <button id="contact">Contact</button>
                <button id="about">About Me</button>
            </div>

            <div id="skills_modal">
                <a id="dj" href="#"><img src="{% static 'home/django_.png' %}" width="115" height="60"></a>
                <a id="py" href="#"><img src="{% static 'home/python_logo.png' %}" width="55" height="55"></a>
                <a id="js" href="#"><img src="{% static 'home/js.png' %}" width="70" height="55"></a>
                <a id="node" href="#"><img src="{% static 'home/node.png' %}" width="85" height="65"></a>
                <a id="html_" href="#"><img src="{% static 'home/html.png' %}" width="65" height="50"></a>
            </div>

            <div id="contact_modal">
                <span id="contact_text">Feel free to contact me!</span>
                <!-- <img src="{% static 'home/email.png' %}" width="115" height="60"> -->
                <span id="email">pdx@nathanielthomas.dev</span>
                <!-- <img src="{% static 'home/phone.png' %}" width="115" height="60"> -->
                <span id="phone">541.646.5895</span>
                <a class="links" href="https://github.com/rodgnathaniel" target="_blank">Github</a>
                <a class="links" href="https://www.linkedin.com/in/nathaniel-rodgers-109104170/" target="_blank">Linkedin</a>
            </div>

            <div id="about_modal">
                <span>Hi, my name is Nathaniel; I am a certified software developer & Portland local. Currently proficient in Python, JavaScript, Django, HTML5, 
                    and CSS for building full-stack applications. I have been fully immersed, continuously learning, strengthening my portfolio 
                    everyday; I cannot wait to see what my future in the tech industry has to bring me.</br>I would define myself as a curious, mindful, 
                    organized, and intuitive individual with an approachable, non judgmental personality.</span>

            </div>
            <div id="dj_modal">

            </div>

            <div id="py_modal">
                
            </div>

            <div id="js_modal">
                
            </div>

            <div id="node_modal">
            
            </div>

            <div id="html_modal">
        
            </div>
        </div>

        <!-- <span id="gittip">Github</span>
        <span id="intip">Linkedin</span>
        <span id="djtip">Django</span>
        <span id="pytip">Python</span>
        <span id="jstip">JavaScript</span>
        <span id="nodetip">Node.js</span>
        <span id="htmltip">HTML5</span> -->
 
    </main>

       

            <script>

                let skills = document.querySelector("#skills");
                let contact = document.querySelector("#contact");
                let about = document.querySelector("#about");
                let dj = document.querySelector("#dj");
                let py = document.querySelector("#py");
                let js = document.querySelector("#js");
                let node = document.querySelector("#node");
                let html_ = document.querySelector("#html_");

                let skillclick = false


      

                skills.onclick = function(){
                    if(skillclick){
                        document.querySelector("#skills_modal").style.display = "none"; 
                        skillclick = false
                    } else {
                        skillclick = true
                        document.querySelector("#skills_modal").style.display = "flex"; 
                    }
                }

                contact.onclick = function(){
                    skillclick = false

                    document.querySelector("#contact_modal").style.display = "flex";  

                    document.querySelector("#skills_modal").style.display = "none";  
                    document.querySelector("#about_modal").style.display = "none";  
                    document.querySelector("#dj_modal").style.display = "none"; 
                    document.querySelector("#py_modal").style.display = "none";  
                    document.querySelector("#js_modal").style.display = "none";  
                    document.querySelector("#node_modal").style.display = "none"; 
                    document.querySelector("#html_modal").style.display = "none"; 
                    
                }

                about.onclick = function(){
                    skillclick = false

                    document.querySelector("#about_modal").style.display = "flex";  

                    document.querySelector("#skills_modal").style.display = "none";  
                    document.querySelector("#contact_modal").style.display = "none"; 
                    document.querySelector("#dj_modal").style.display = "none"; 
                    document.querySelector("#py_modal").style.display = "none";  
                    document.querySelector("#js_modal").style.display = "none";  
                    document.querySelector("#node_modal").style.display = "none"; 
                    document.querySelector("#html_modal").style.display = "none"; 
                }

                dj.onclick = function(){
                    skillclick = false

                    document.querySelector("#dj_modal").style.display = "flex";  

                    document.querySelector("#skills_modal").style.display = "none";  
                    document.querySelector("#contact_modal").style.display = "none"; 
                    document.querySelector("#about_modal").style.display = "none";  
                    document.querySelector("#py_modal").style.display = "none";  
                    document.querySelector("#js_modal").style.display = "none";  
                    document.querySelector("#node_modal").style.display = "none"; 
                    document.querySelector("#html_modal").style.display = "none"; 
                }

                py.onclick = function(){
                    skillclick = false

                    document.querySelector("#py_modal").style.display = "flex"; 

                    document.querySelector("#skills_modal").style.display = "none";  
                    document.querySelector("#contact_modal").style.display = "none"; 
                    document.querySelector("#about_modal").style.display = "none";  
                    document.querySelector("#dj_modal").style.display = "none"; 
                    document.querySelector("#js_modal").style.display = "none";  
                    document.querySelector("#node_modal").style.display = "none"; 
                    document.querySelector("#html_modal").style.display = "none"; 
                }

                js.onclick = function(){
                    skillclick = false

                    document.querySelector("#js_modal").style.display = "flex";  

                    document.querySelector("#skills_modal").style.display = "none";  
                    document.querySelector("#contact_modal").style.display = "none"; 
                    document.querySelector("#about_modal").style.display = "none";  
                    document.querySelector("#dj_modal").style.display = "none"; 
                    document.querySelector("#py_modal").style.display = "none";  
                    document.querySelector("#node_modal").style.display = "none"; 
                    document.querySelector("#html_modal").style.display = "none"; 
                }

                node.onclick = function(){
                    skillclick = false

                    document.querySelector("#node_modal").style.display = "flex";  

                    document.querySelector("#skills_modal").style.display = "none";  
                    document.querySelector("#contact_modal").style.display = "none"; 
                    document.querySelector("#about_modal").style.display = "none";  
                    document.querySelector("#dj_modal").style.display = "none"; 
                    document.querySelector("#py_modal").style.display = "none";  
                    document.querySelector("#js_modal").style.display = "none";  
                    document.querySelector("#html_modal").style.display = "none";
                }

                html_.onclick = function(){
                    skillclick = false

                    document.querySelector("#html_modal").style.display = "flex";  

                    document.querySelector("#skills_modal").style.display = "none";  
                    document.querySelector("#contact_modal").style.display = "none"; 
                    document.querySelector("#about_modal").style.display = "none";  
                    document.querySelector("#dj_modal").style.display = "none"; 
                    document.querySelector("#py_modal").style.display = "none";  
                    document.querySelector("#js_modal").style.display = "none";  
                    document.querySelector("#node_modal").style.display = "none"; 
                }




                // let git = document.querySelector("#git");

                // git.onmouseover = function(){
                //     document.querySelector("#gittip").style.display = "flex";  
                // }
                // git.onmouseout = function(){
                //     document.querySelector("#gittip").style.display = "none";  
                // }

                // dj.onmouseover = function(){
                //     document.querySelector("#djtip").style.display = "flex";  
                // }
                // dj.onmouseout = function(){
                //     document.querySelector("#djtip").style.display = "none";  
                // }

                // py.onmouseover = function(){
                //     document.querySelector("#pytip").style.display = "flex";  
                // }
                // py.onmouseout = function(){
                //     document.querySelector("#pytip").style.display = "none";  
                // }

                



                // js image slide show    
                var i = 0;
                var images = [];
                var time = 5000;

                images[0] = "{% static 'home/image1.jpg' %}";
                images[1] = "{% static 'home/image2.jpg' %}";
                images[2] = "{% static 'home/image3.jpg' %}";

                function imgchange(){
                    document.slide.src = images[i];

                    if(i < images.length - 1){
                        i++;
                    } else {
                        i = 0;
                    }
                    
                    setTimeout("imgchange()", time);
                }

                window.onload = imgchange();
                                  
            </script>

        </body>
</html>