@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
    background-image:url(/static/home/blue_bg6.png);   
    /* background-color:rgba(300,300,300,1) */
}
header{
    background-color: black;
    width: 100%;
    height: 14%;
}

main{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
}



main #nav_title {

    display:flex;
    flex-direction:column;
    align-items:left;
    flex-wrap:wrap;
    /* justify-content:space-evenly; */
}
main #nav_buttons{
    padding-top: 3%;
    height: 25%;
    width: 40%;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: black; */


}
#name {
    color:ivory;
    font-family: 'Amatic SC', cursive;

}
h2 {
    width: 45%;
    height: 5%;
    color:ivory;
    font-size: 115%;
    font-family: 'Amatic SC', cursive;
}
#self_img{
    margin-left: 40%;
}
#self{
    
        border-radius: 50%;
        border: 5px;
        border-color: ivory;
      
}
#slideshow {
    margin-top: 5%;
    margin-left: 27%;
}

/* .modal_1 {
    width: 300px;
    height: 160px;
    background-color: rgba(205,92,92,1);
    position: absolute;
    left:47%;
    top:40%;
    padding-top: 1.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 12px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
}
.modal_1 span{
    color: black;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 100%;
    height: 17%;
    font-family: 'Amatic SC', cursive;
    font-size: 135%;
    text-decoration: none;
    text-align: center;
    /* display: block; */
}
.modal_1 a{
    color: black;
    padding-top: 0%;
    padding-bottom: 5%;
    width: 100%;
    height: 6%;
    font-family: 'Amatic SC', cursive;
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    /* display: block; */
}
.modal_1 img{

    padding-top: 3%;
    padding-bottom: 0%;
    margin-left: 28%;
    
    /* display: block; */
}

.modal_1 a:hover {
    background-color:rgba(205,92,92,.1);
}

.modal_2 {
    width: 300px;
    height: 100px;
    background-color: rgba(205,92,92,1);
    position: absolute;
    left:47%;
    top:59%;
    padding-top: 1.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 12px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
}
.modal_2 span{
    color: black;
    padding-top: 10%;
    padding-bottom: 12%;
    width: 100%;
    height: 17%;
    font-family: 'Amatic SC', cursive;
    font-size: 135%;
    text-decoration: none;
    text-align: center;
    /* display: block; */
}

.modal_2 span:hover {
    background-color:rgba(205,92,92,.1);
}

.modal_3 {
    width: 300px;
    height: 50px;
    background-color: rgba(205,92,92,.6);
    position: absolute;
    left:47%;
    top:75%;
    padding-top: 1.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 12px;
    display: none;
    flex-direction: row;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
}
.modal_3 a {
    color: black;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 25%;
    height: 20%;
    font-family: 'Amatic SC', cursive;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    /* display:grid;
    flex-direction:row; */
    /* display: block; */
}

.modal_3 a:hover {
    background-color:rgba(205,92,92,.1);
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    outline: none;
} */