/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


/* BACKGROUND IMAGE */
body{
    background-image:url(/static/home/blue_bg6.png);   
}


/* PAGE FORMAT */
main{
    display:grid;
    grid-template-columns: 1fr 4fr;
}


/* AVATAR, TITLE, LINKS, SLIDESHOW */
header{
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    border-radius: 10px;
}

#name {
    color:ivory;
    font-family: 'Amatic SC', cursive;
    margin-left: 10%;
    font-size: 160%;
}

h2 {
    width: 45%;
    height: 5%;
    color:ivory;
    font-size: 115%;
    font-family: 'Amatic SC', cursive;
    margin-left: 30%;
}

#self{
    border-radius: 50%;
    border: 5px;
    border-color: ivory;
    margin-left: 20%;
    margin-top: 6%;   
}

#in, #git{
    margin: 1%50%5%38%;
}
#gittip{ 
    background-color: rgba(0, 0, 0, .7);
    color:ivory;
    font-family: 'Amatic SC', cursive;
    z-index: 25;
    top: 50%;
    left: 50%;
}

#nav_title {
    display:flex;
    flex-direction:column;
    align-items:left;
    flex-wrap:wrap;
    background-size: 25% 25%;
}

#nav_title a:hover{ 
    border-color:rgba(255,255,240,.8);
    background-color: rgba(255,255,240,.3);
    border-radius: 12%;
}

#slideshow {
    margin-bottom: 5%;
    margin-left: 7%;
}


/* NAVIGATION BAR SIZING */
#nav_bg{
    background-color: rgba(0, 0, 0, .7);
    width: 90%;
    height: 18%;
    margin-left: 1%;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    border-radius: 10px;
}

/* NAVIGATION BAR BUTTONS */
#contact, #skills, #about{
    color: black;
    margin-top: 1.3%;
    margin-left: 1%;
    border-radius: 10px;
    background-color:rgba(255,255,240,.8);
    width: 15%;
    height: 70%;
    font-family: 'Amatic SC', cursive;
    font-size: 160%;
    cursor:pointer;
    overflow: hidden;  
    outline: none;

}

/* HOVER AFFECTS FOR NAVIGATION BUTTONS */
#contact:hover, #skills:hover, #about:hover{
    border-color:rgba(255,255,240,.8);
    background-color: rgba(0, 0, 0, .7);
    color: ivory;
}


/* MODAL LINKED TO CONTACT BUTTON */
#contact_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
    animation: fadeIn 1s;
} 
#contact_modal span, a{
    padding-top: 2%;
    padding-bottom: 2%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 185%;
}
#contact_modal img:hover{
    border-color:rgba(255,255,240,.8);
    background-color: rgba(255,255,240,.3);
    border-radius: 12%;
}
#contact_txt{
    margin-top: 2%;
}


/* MODAL LINKED TO ABOUT BUTTON */
#about_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
    animation: fadeIn 1s;
}
#about_modal span{
    padding-top: 8%;
    padding-right: 18%;
    padding-bottom: 10%;
    padding-left: 18%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 170%;
}


/* MODAL LINKED TO SKILLS BUTTON */
#skills_modal {
    width: 9%;
    height: 57%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:25.8%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:5;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    padding-top: .5%;
    animation: fadeIn 1s;
}
#skills_modal2 {
    width: 9%;
    height: 57%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:25.8%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:5;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    padding-top: .5%;
    animation: fadeOut 1s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

#skills_modal a:hover{
    background-color: rgba(255,255,240,.6);
    border-color:rgba(176,224,230,0.75);
}


/* ICONS INSIDE OF SKILLS MODAL */
#dj{
    padding-top: 9%;
    padding-bottom: 9%;
}
#dj span{
    display: none;
}
#dj span:hover{
    display:block;
}
#py{
    padding-top: 9%;
    padding-left: 26%;
    padding-bottom: 9%;
}
#js{
    padding-top: 9%;
    padding-left: 19%;
    padding-bottom: 9%;
}
#node{
    padding-top: 9%;
    padding-left: 12%;
    padding-bottom: 9%;
}
#html_{
    padding-top: 9%;
    padding-left: 20%;
    padding-bottom: 9%;
}


/* MODALS LINKED TO SKILLS MODAL ICONS */
#dj_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
    animation: fadeIn 1s;
}
#dj_modal a{
    padding-top: 1%;
    padding-right: 14%;
    padding-left: 14%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 140%;
}
#dj_modal a:hover{
    border-color:rgba(255,255,240,.8);
    background-color: rgba(255,255,240,.3);
    border-radius: 12%;
 
}
#dj_modal span{
    padding-right: 14%;
    padding-bottom: 1%;
    padding-left: 14%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 110%;
}

#py_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
    animation: fadeIn 1s;
}
#py_modal a{
    padding-top: 1%;
    padding-right: 14%;
    padding-left: 14%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 140%;
}
#py_modal a:hover{
    border-color:rgba(255,255,240,.8);
    background-color: rgba(255,255,240,.3);
    border-radius: 12%;
 
}
#py_modal span{
    padding-right: 14%;
    padding-bottom: 1%;
    padding-left: 14%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 110%;
}

#js_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
    animation: fadeIn 1s;
}

#node_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
    animation: fadeIn 1s;
}

#html_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
    animation: fadeIn 1s;
}


/* CLOSE BUTTON  */
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    outline: none;
} 


