@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
    background-image:url(/static/home/blue_bg6.png);   
}
#nav_bg{

    background-color: rgba(0, 0, 0, .7);
    width: 90%;
    height: 18%;
    margin-left: 1%;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    border-radius: 10px;
}
#skills_bg{

    background-color: rgba(0, 0, 0, .7);
    width: 18%;
    height: 90%;
    margin-left: 1%;
}
header{
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    border-radius: 10px;
}
#contact, #skills, #about{
    margin-top: 1.3%;
    margin-left: 1%;
    border-radius: 10px;
    background-color:rgba(255,255,240,.8);
    width: 15%;
    height: 70%;
    font-family: 'Amatic SC', cursive;
    font-size: 160%;
    cursor:pointer;

}
#in, #git{
    margin: 1%0%5%38%;

}
main{
    display:grid;
    grid-template-columns: 1fr 4fr;
}



#nav_title {
    display:flex;
    flex-direction:column;
    align-items:left;
    flex-wrap:wrap;
}
#nav_buttons{
    padding-top: 3%;
    height: 25%;
    width: 40%;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#name {
    color:ivory;
    font-family: 'Amatic SC', cursive;
    margin-left: 10%;
    font-size: 160%;

}
h2 {
    width: 45%;
    height: 5%;
    color:ivory;
    font-size: 115%;
    font-family: 'Amatic SC', cursive;
    margin-left: 30%;

}
#self{
    
    border-radius: 50%;
    border: 5px;
    border-color: ivory;
    margin-left: 20%;
    margin-top: 6%;
      
}
#slideshow {
    margin-bottom: 5%;
    margin-left: 7%;
    
}
#contact_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
} 
#contact_modal span, a{
    padding-top: 2%;
    padding-bottom: 2%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 170%;
}
#contact_txt{
    margin-top: 2%;
}

#about_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
}
#about_modal span{
    padding-top: 2%;
    padding-bottom: 2%;
    color: ivory;
    font-family: 'Amatic SC', cursive;
    font-size: 170%;
}
#dj_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
}
#py_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
}
#js_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
}
#node_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
}
#html_modal {
    width: 71%;
    height: 59.5%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:56.5%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
    align-items: center;
}
#skills_modal {
    width: 9%;
    height: 59.7%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left:25.8%;
    top:45.5%;
    transform: translate(-50%, -50%);
    z-index:5;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(211,211,211,.7);
}
#skills_modal a{
    
}
#dj{
    padding-top: 18%;
}
#py{
    padding-top: 15%;
    padding-left: 26%;
}
#js{
    padding-top: 17%;
    padding-left: 19%;
}
#node{
    padding-top: 17%;
    padding-left: 12%;
}
#html_{
    padding-top: 17%;
    padding-left: 20%;
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    outline: none;
} 


